.startInterceptContainer {
  margin-bottom: 20px;
  border: 1px solid #606060;
  padding: 10px;
  border-radius: 4px;
}

.interceptLabelContainer {
  margin-bottom: 10px;
  position: relative;
}

.interceptingIcon {
  font-size: 18px;
  color: #52c41a !important;
  position: absolute;
  right: 20px;
}

.urlInterceptTextArea {
  margin-top: 10px !important;
}

.interceptMsgCard {
  margin-top: 10px !important;
}

.interceptMsgCardContainer {
  overflow: scroll;
  height: calc(100vh - 170px);
  border: 1px solid #606060;
  border-radius: 4px;
  padding: 10px;
}
