.headerHomeIcon {
  background: url('../../../icons/home_grey.png') no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
