.chromeLauncherLeftPanel {
  width: 80px;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-color: #2c3137;
  box-shadow: inset -1px 0px #606060;
}

.chromeLauncherRightPanel {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: calc(100vw - 80px);
  background-color: #1e2226;
  padding: 25px;
  font-size: 14px;
  color: #e8e8e8;
}
